    @model IEnumerable<BootcampKayit>
    <h2>Öğrenci Kayıt Listesi</h2>
    <a href="/BootcampKayit/Create" class="btn btn-success">Öğrenci Ekle</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.KayitId)</th>
                <th>@Html.DisplayNameFor(m=>m.Ogrenci.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m=>m.Bootcamp.Baslik)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.KayitId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ogrenci.AdSoyad)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bootcamp.Baslik)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-warning btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


