@model IEnumerable<Bootcamp>

    <h2>Bootcamp Listesi</h2>
    <a href="/Bootcamp/Create" class="btn btn-success">Bootcamp Ekle</a>
    <hr>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.BootcampId)</th>
            <th>@Html.DisplayNameFor(m=>m.Baslik)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BootcampId)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                <td>
                    <a asp-controller="Bootcamp" asp-action="Edit" asp-route-id="@item.BootcampId" class="btn btn-warning btn-sm">Details</a>
                    <a asp-controller="Bootcamp" asp-action="Delete" asp-route-id="@item.BootcampId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>